<title>Express Application</title>
<h1>Rendering Template Views</h1>
<p>This girl is understanding code. She's LOVING IT!</p>
<div>
<h3>Pug Saved In Pug</h3>
img(src="../imgages/pexels-xenyia-kovaleva-89812116-11199295.jpg")
<br>
<a action='/downloadimage'  href="../images/pexels-xenyia-kovaleva-89812116-11199295.jpg">Download image</a>
</div>